@media all and (max-width: 1000px) {
  .top-wrapper h1 {
      font-size: 32px; 
     }
  .service {
      width: 50%;
      margin-bottom: 50px;
    }
}

@media all and (max-width: 670px) {
  .top-wrapper {
    text-align: left;
  }
  .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
    .btn {
      width: 100%;
    }
    .service {
      width: 100%;
    }
    .header-right {
      display: none;
    }
    .menu-icon {
      display: block;
    }
    footer {
      text-align: center;
    }
}
